html {
  font-size: 62.5%;
}

body {
  font-family: "M PLUS 1p", Meiryo, "Roboto", Roboto, "YuGothic", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, sans-serif;
  background-color: #fffdfa;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

html, body,
p, ol, ul, li, dl, dt, dd,
blockquote, figure, fieldset, legend, textarea, pre, iframe, span, button, table, input,
h1, h2, h3, h4, h5, h6, hr {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, text, span, div {
  text-decoration: none;
  color: #707070;
}

button, input[type=submit], a {
  cursor: pointer;
}

cite {
  font-style: normal;
}

.l-footer {
  height: 120px;
  padding-bottom: 30px;
}
@media screen and (max-width: 428px) {
  .l-footer {
    background-image: url("../img/footer_img-smart.jpg");
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-footer {
    background-image: url("../img/footer_img-tablet.jpg");
  }
}
@media screen and (min-width: 961px) {
  .l-footer {
    background-image: url("../img/footer_img-pc.jpg");
    position: absolute;
    width: 100%;
    z-index: 800;
  }
}
.l-footer__inner {
  z-index: 800;
  padding: 39px 0 34px 0;
  justify-content: center;
}
.l-footer__inner li {
  padding: 0 10px 0 10px;
}
.l-footer__inner li + li {
  padding: 0 10px 0 10px;
  border-left: solid 2px #fff;
}
.l-footer__inner-active {
  z-index: unset;
}

.l-header {
  position: relative;
  z-index: 800;
  padding: 40px 0;
}
@media screen and (min-width: 961px) {
  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 67px 31px 66px 65px;
  }
}
.l-header-active {
  z-index: unset;
}
.l-header__search {
  padding-top: 38px;
}
@media screen and (min-width: 961px) {
  .l-header__search {
    padding: 0;
  }
}
.l-header__hamburger {
  position: absolute;
  background-color: #FFF7EF;
  z-index: 900;
}
@media screen and (max-width: 428px) {
  .l-header__hamburger {
    top: 14px;
    right: 16px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-header__hamburger {
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 961px) {
  .l-header__hamburger {
    display: none;
  }
}
@media screen and (min-width: 961px) {
  .l-header__hamburger--pc {
    position: absolute;
    z-index: 900;
    top: 82px;
    left: 46px;
    font-size: 1.7708333333vw;
    font-weight: bold;
    font-family: "Roboto";
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-header__hamburger--pc {
    display: none;
  }
}
@media screen and (max-width: 428px) {
  .l-header__hamburger--pc {
    display: none;
  }
}
.l-header__hamburger span:nth-child(1) {
  display: block;
  width: 32px;
  height: 6px;
  margin-left: auto;
  transition: all 0.15s linear;
}
.l-header__hamburger span:nth-child(2) {
  font-weight: bold;
  font-family: "Roboto";
  transition: all 0.15s linear;
}
@media screen and (max-width: 428px) {
  .l-header__hamburger span:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-header__hamburger span:nth-child(2) {
    font-size: 34px;
  }
}
.l-header__hamburger span:nth-child(3) {
  display: block;
  width: 32px;
  height: 6px;
  margin-left: auto;
  transition: all 0.15s linear;
}
.l-header__hamburger-active {
  background-color: #F2EDE9;
}
.l-header__hamburger-active span:nth-child(1) {
  display: block;
  background-color: #707070;
}
@media screen and (max-width: 428px) {
  .l-header__hamburger-active span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-header__hamburger-active span:nth-child(1) {
    transform: translateY(22px) rotate(45deg);
  }
}
.l-header__hamburger-active span:nth-child(2) {
  opacity: 0;
  margin: 8px 0;
}
.l-header__hamburger-active span:nth-child(3) {
  display: block;
  background-color: #707070;
}
@media screen and (max-width: 428px) {
  .l-header__hamburger-active span:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-header__hamburger-active span:nth-child(3) {
    transform: translateY(-23px) rotate(-45deg);
  }
}

@-webkit-keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media screen and (max-width: 428px) {
  .l-main {
    margin: 20px 20px 49px 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-main {
    margin: 40px;
  }
}
@media screen and (min-width: 961px) {
  .l-main {
    margin: 120px 112px 134px 111px;
  }
}
.l-main-hide-contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 700;
}
.l-main-hide-contents-active {
  display: block;
  -webkit-animation: opa 1s ease 0s both;
          animation: opa 1s ease 0s both;
  background-color: #000;
}
@media screen and (min-width: 961px) {
  .l-main-hide-contents-active {
    display: none;
  }
}

.l-sidebar {
  width: 328px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-sidebar {
    width: 367px;
  }
}
@media screen and (min-width: 961px) {
  .l-sidebar {
    width: 367px;
  }
}
.l-sidebar__inner {
  padding-top: 212px;
}
.l-sidebar__title {
  padding: 48px 0 0 46px;
}
.l-sidebar__title .sub-menu li{
  margin-top: 22px;
  padding: 0 0 0 20px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (min-width: 961px) {
  .l-sidebar__title .sub-menu li{
    font-size: 1.0416666667vw;
  }
}
.l-sidebar__inner .menu-item-has-children:nth-child(1) .sub-menu {
  margin-top: 32px;
}
.l-sidebar__hamburger {
  transform: translateX(0);
  transition: ease 0.4s;
  z-index: 850;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media screen and (max-width: 428px) {
  .l-sidebar__hamburger {
    right: -375px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-sidebar__hamburger {
    right: -367px;
  }
}
@media screen and (min-width: 961px) {
  .l-sidebar__hamburger {
    position: static;
  }
}
@media screen and (max-width: 428px) {
  .l-sidebar__hamburger-active {
    transform: translateX(-375px);
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-sidebar__hamburger-active {
    transform: translateX(-367px);
  }
}
.l-sidebar__item {
  margin-top: 22px;
}
.l-sidebar__list {
  padding: 12px 0 34px 66px;
}

@media screen and (max-width: 428px) {
  .l-wrapper {
    margin: 30px 18px 31px 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-wrapper {
    margin: 36px 35px 30px 42px;
  }
}
@media screen and (min-width: 961px) {
  .l-wrapper {
    margin: 60px 100px 64px 100px;
  }
}
@media screen and (max-width: 428px) {
  .l-wrapper--sub {
    margin: 0 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .l-wrapper--sub {
    margin: 0 60px;
  }
}
@media screen and (min-width: 961px) {
  .l-wrapper--sub {
    margin: 0 100px;
  }
}

.c-background-color__orange-light {
  background-color: #FFF7EF;
}
.c-background-color__orange-verylight {
  background-color: #F2EDE9;
}
.c-background-color__black {
  background-color: #000;
}
.c-background-color__white {
  background-color: #fff;
}
.c-background-color__gray {
  background-color: #707070;
}
.c-background-color__gray-verylight {
  background-color: #f5f5f5;
}
.c-background-color__brown {
  background-color: #3C2A10;
}

.c-button {
  padding: 10px 42.2px 10.5px 41px;
  border-radius: 100vh;
  align-items: center;
  display: grid;
  text-align: center;
  background-color: #fff;
  border: 1px solid #707070;
}
@media screen and (min-width: 961px) {
  .c-button {
    padding: 1.68em 6.62em;
  }
}
.c-button__hamburger {
  border: none;
  cursor: pointer;
}
.c-button--secondary {
  max-width: 429px;
  height: 81px;
  border-radius: 20px;
  border: 1px solid #707070;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #F2EDE9;
  position: relative;
  z-index: 800;
  cursor: pointer;
}
@media screen and (max-width: 428px) {
  .c-button--secondary {
    max-width: 335px;
  }
}
.c-button--secondary-active {
  z-index: unset;
}

.c-icon {
  background: url("../img/icon/search01.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.c-icon--focus {
  display: none;
}

.c-img__item {
  width: 50.04%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom left;
  object-position: bottom left;
}
@media screen and (max-width: 428px) {
  .c-img__item {
    width: 100%;
    height: 230.53px;
  }
}
.c-img__head {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
}
@media screen and (max-width: 428px) {
  .c-img__head {
    height: 124px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-img__head {
    height: 264px;
  }
}
@media screen and (min-width: 961px) {
  .c-img__head {
    height: 500px;
  }
}
.c-img__foot {
  width: 267px;
  height: 166px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-img__foot {
    width: 81.37%;
    height: 358px;
  }
}
@media screen and (min-width: 961px) {
  .c-img__foot {
    width: 42.94%;
    height: 358px;
  }
}
.c-img__unit {
  background-image: url("../img/cooked-foods.png");
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  width: 134px;
  height: 89px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-img__unit {
    width: calc(45.8% - 21px);
    height: 189px;
  }
}
@media screen and (min-width: 961px) {
  .c-img__unit {
    width: calc(45.9% - 40px);
    height: 358px;
  }
}
.c-img__caption {
  width: 100%;
  height: auto;
  background-size: cover;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-img__caption {
    width: 48.88%;
  }
}
@media screen and (min-width: 961px) {
  .c-img__caption {
    width: 32.3%;
  }
}

.c-list {
  font-size: 24px;
}
@media screen and (min-width: 961px) {
  .c-list {
    font-size: 1.25vw;
  }
}
.c-list__item {
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (min-width: 961px) {
  .c-list__item {
    font-size: 1.0416666667vw;
  }
}

.c-logo {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
}
@media screen and (min-width: 961px) {
  .c-logo {
    font-size: 64px;
  }
}

.c-search {
  border-radius: 10px;
  border: 1px solid #707070;
  font-size: 16px;
}
.c-search--button {
  width: 136px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  font-size: 16px;
  color: #707070;
}
@media screen and (max-width: 428px) {
  .c-search--button {
    width: 78px;
  }
}

.c-text {
  color: #fff;
  line-height: 2.3571428571;
  font-size: 14px;
}
@media screen and (min-width: 961px) {
  .c-text {
    font-size: 16px;
    line-height: 2.0625;
  }
}
.c-text--item {
  font-size: 16px;
  line-height: 1.4375;
  color: #3C2A10;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-text--item {
    line-height: 1.4285714286;
  }
}
.c-text--top {
  color: #fff;
  font-size: 5.3333333333vw;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-text--top {
    font-size: 2.3980815348vw;
  }
}
@media screen and (min-width: 961px) {
  .c-text--top {
    font-size: 1.875vw;
  }
}
.c-text--medium {
  color: #fff;
  font-size: 4.2666666667vw;
  font-weight: bold;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-text--medium {
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 961px) {
  .c-text--medium {
    font-size: 1.25vw;
  }
}
.c-text--small {
  color: #fff;
  font-size: 4.2666666667vw;
  line-height: 1.4375;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-text--small {
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 961px) {
  .c-text--small {
    font-size: 0.8333333333vw;
  }
}
.c-text--small-gray {
  color: #707070;
  font-size: 4.2666666667vw;
  font-weight: bold;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-text--small-gray {
    font-size: 1.9184652278vw;
  }
}
@media screen and (min-width: 961px) {
  .c-text--small-gray {
    font-size: 0.8333333333vw;
  }
}
.c-text--small-brown {
  color: #3C2A10;
  font-size: 16px;
  line-height: 1.4375;
}
.c-text--number {
  font-family: "Roboto";
  font-weight: bold;
}
.c-text--number-list {
  padding: 7px 13px;
  border: 1px solid #707070;
  transition: color 0.25s, background-color 0.25s;
}
.c-text--number-list:hover {
  color: #fff;
  background-color: #3C2B1C;
}
.c-text--number-current {
  color: #fff;
  background-color: #3C2B1C;
}
.c-text--bottom {
  color: #fff;
  font-size: 20px;
}

.c-title {
  color: #eaeaea;
  font-family: "Roboto";
  font-size: 41px;
  font-weight: bold;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title {
    font-size: 5.2757793765vw;
  }
}
@media screen and (min-width: 961px) {
  .c-title {
    font-size: 4.1666666667vw;
  }
}
.c-title .sub-menu li { 
  display: none;
}
.c-title--small {
  color: #3C2A10;
  font-size: 7.486631016vw;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--small {
    font-size: 4.3165467626vw;
  }
}
@media screen and (min-width: 961px) {
  .c-title--small {
    font-size: 1.875vw;
  }
}
.c-title--small-sub {
  color: #3C2A10;
  font-size: 6.4171122995vw;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--small-sub {
    font-size: 3.3573141487vw;
  }
}
@media screen and (min-width: 961px) {
  .c-title--small-sub {
    font-size: 1.4583333333vw;
  }
}
.c-title--tiny {
  color: #3C2A10;
  font-size: 5.3475935829vw;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--tiny {
    font-size: 2.3980815348vw;
  }
}
@media screen and (min-width: 961px) {
  .c-title--tiny {
    font-size: 1.0416666667vw;
  }
}
.c-title--item {
  font-size: 22px;
  font-weight: bold;
  color: #3C2A10;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--item {
    font-size: 24px;
  }
}
@media screen and (min-width: 961px) {
  .c-title--item {
    font-size: 24px;
  }
}
.c-title--access {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
@media screen and (min-width: 961px) {
  .c-title--access {
    font-size: 36px;
  }
}
.c-title--site {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 961px) {
  .c-title--site {
    font-size: 40px;
  }
}
.c-title--site-sub {
  color: #fff;
}
@media screen and (max-width: 428px) {
  .c-title--site-sub {
    font-size: 36px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--site-sub {
    font-size: 60px;
  }
}
@media screen and (min-width: 961px) {
  .c-title--site-sub {
    font-size: 60px;
  }
}
.c-title--site-bottom {
  font-size: 16px;
  color: #fff;
}
.c-title--product {
  font-size: 9.6256684492vw;
  color: #fff;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .c-title--product {
    font-size: 7.1942446043vw;
  }
}
@media screen and (min-width: 961px) {
  .c-title--product {
    font-size: 3.125vw;
  }
}

@media screen and (max-width: 428px) {
  .p-access {
    padding: 40px 40px 0 40px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-access {
    padding: 40px 29px 0 42px;
  }
}
@media screen and (min-width: 961px) {
  .p-access {
    padding: 83px 134px 0 119px;
  }
}
.p-access__inner--top {
  margin-top: 20px;
}
@media screen and (min-width: 961px) {
  .p-access__inner--top {
    margin-top: 63.5px;
  }
}
.p-access__inner--bottom {
  margin-bottom: 20px;
}
@media screen and (min-width: 961px) {
  .p-access__inner--bottom {
    margin-bottom: 55.5px;
  }
}
.p-access__inner::after {
  content: "";
  width: 75px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.p-access__map {
  padding-bottom: 40px;
  height: 100%;
  position: relative;
  z-index: -5;
}
@media screen and (min-width: 961px) {
  .p-access__map {
    padding-bottom: 83px;
  }
}
.p-access__map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -3;
}
.p-access__top {
  height: 415px;
}
.p-access__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.29;
  z-index: -1;
}
@media screen and (max-width: 428px) {
  .p-access__overlay {
    height: 415px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-access__overlay {
    height: 100%;
  }
}
@media screen and (min-width: 961px) {
  .p-access__overlay {
    height: 100%;
    width: 950px;
  }
}
.p-access__overlay--pc {
  width: 950px;
}
@media screen and (max-width: 428px) {
  .p-access__overlay--pc {
    width: auto;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-access__overlay--pc {
    width: auto;
  }
}

.p-archive {
  position: relative;
  width: 100%;
  height: 283px;
  background-size: cover;
}
@media screen and (min-width: 961px) {
  .p-archive {
    height: 239px;
  }
}
.p-archive__inner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}
.p-archive__mainvisual {
  background-image: url("../img/page-title_arcive.jpg");
}
@media screen and (min-width: 961px) {
  .p-archive__mainvisual {
    background-image: url("../img/home_take-out_.jpg");
    background-size: cover;
    background-position: center;
  }
}
.p-archive__title {
  position: absolute;
  bottom: 132px;
  left: 86px;
}
@media screen and (max-width: 428px) {
  .p-archive__title {
    left: 37px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-archive__title {
    bottom: 102px;
  }
}
@media screen and (min-width: 961px) {
  .p-archive__title {
    bottom: 80px;
  }
}
.p-archive__title--left {
  position: absolute;
  bottom: 133px;
  left: 86px;
}
@media screen and (max-width: 428px) {
  .p-archive__title--left {
    left: 37px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-archive__title--left {
    bottom: 102px;
  }
}
@media screen and (min-width: 961px) {
  .p-archive__title--left {
    bottom: 80px;
  }
}
.p-archive__title--right {
  position: absolute;
  bottom: 104px;
  left: 275px;
}
@media screen and (max-width: 428px) {
  .p-archive__title--right {
    left: 37px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-archive__title--right {
    bottom: 124px;
  }
}
@media screen and (min-width: 961px) {
  .p-archive__title--right {
    bottom: 104px;
  }
}
.p-archive__title--bottom {
  position: absolute;
  left: 311px;
  bottom: 104px;
}
@media screen and (max-width: 428px) {
  .p-archive__title--bottom {
    left: 37px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-archive__title--bottom {
    bottom: 126px;
  }
}
.p-archive__heading {
  margin-bottom: 19px;
  padding-left: 2px;
}
.p-archive__middle {
  margin-bottom: 30px;
}

.p-area {
  width: 100%;
  border-collapse: collapse;
}
.p-area__item {
  border: 1px solid #707070;
  text-align: left;
}
.p-area__item--left {
  width: 135px;
  height: 77px;
  padding-left: 30px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-area__item--left {
    width: 215px;
  }
}
@media screen and (min-width: 961px) {
  .p-area__item--left {
    width: 429px;
  }
}
.p-area__item--right {
  border-left: 1px solid #707070;
  width: 200px;
  height: 77px;
  padding-left: 30px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-area__item--right {
    width: 499px;
  }
}
@media screen and (min-width: 961px) {
  .p-area__item--right {
    width: 929px;
  }
}

@media screen and (max-width: 428px) {
  .p-article__heading {
    padding-left: 2px;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-article__heading {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 961px) {
  .p-article__heading {
    margin-bottom: 70px;
  }
}
.p-article__heading--top {
  margin-bottom: 25px;
}
@media screen and (max-width: 428px) {
  .p-article__heading--top {
    margin-bottom: 30px;
  }
}

.p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 663px;
  position: relative;
  padding: 11px 15px 15px 15px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-card {
    padding: 12px 15px 15px 16px;
  }
}
@media screen and (min-width: 961px) {
  .p-card {
    padding: 20px;
  }
}
.p-card--img {
  background-position: center;
  background-size: cover;
}
.p-card--img-left {
  background-image: url("../img/home_take-out_.jpg");
}
.p-card--img-right {
  background-image: url("../img/home-eat_in.jpg");
}
.p-card__title--bottom {
  display: block;
  margin-bottom: 15.3px;
}
@media screen and (min-width: 961px) {
  .p-card__title--bottom {
    margin-bottom: 34.5px;
  }
}
.p-card__title::after {
  content: "";
  width: 33.89px;
  height: 4px;
  background-color: #fff;
  display: block;
}
@media screen and (min-width: 961px) {
  .p-card__title::after {
    width: 63px;
  }
}
.p-card__inner {
  flex-direction: column;
}
.p-card__inner--middle {
  height: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  .p-card__inner--middle {
    gap: 283.7px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-card__inner--middle {
    gap: 283.4px;
  }
}
@media screen and (min-width: 961px) {
  .p-card__inner--middle {
    gap: 660.5px;
  }
}
.p-card__inner--middle-bottom {
  gap: 20px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-card__inner--middle-bottom {
    gap: 15px;
  }
}
.p-card__item {
  padding: 7px 10px 15px 10px;
  opacity: 0.8;
}
@media screen and (min-width: 961px) {
  .p-card__item {
    padding: 12px 21px 20px 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-card__item {
    padding: 7px 15px 15px 15px;
  }
}
.p-card__item--bottom {
  display: block;
  padding-bottom: 3px;
}
@media screen and (min-width: 961px) {
  .p-card__item--bottom {
    padding-bottom: 9px;
  }
}
.p-card__link {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 428px) {
  .p-card__link {
    width: 100%;
  }
}

.p-common {
  position: relative;
  width: 100%;
  height: 500px;
}
@media screen and (max-width: 428px) {
  .p-common {
    height: 225px;
  }
}
.p-common__title {
  position: absolute;
  top: 208px;
  left: 86px;
}
@media screen and (max-width: 428px) {
  .p-common__title {
    top: 91px;
    left: 20px;
  }
}
.p-common__mainvisual {
  background-image: url("../img/burg_tizu.jpg");
  background-position: center;
  background-size: 235%;
}
@media screen and (min-width: 961px) {
  .p-common__mainvisual {
    background-size: 100%;
  }
}
.p-common__mainvisual-sub {
  background-image: url("../img/page-title_shop_pc.png");
  background-position: center;
  background-size: 235%;
}
@media screen and (min-width: 961px) {
  .p-common__mainvisual-sub {
    background-size: 100%;
  }
}

.p-content {
  position: relative;
  z-index: 800;
  transition: all 0.15s linear;
}
.p-content-active {
  z-index: unset;
}
.p-content__inner {
  width: 49.96%;
  padding-top: 30.5px;
  box-sizing: border-box;
}
@media screen and (max-width: 428px) {
  .p-content__inner {
    width: 100%;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-content__inner {
    padding-top: 29px;
  }
}
@media screen and (min-width: 961px) {
  .p-content__inner {
    padding-top: 53px;
  }
}
.p-content__inner--top {
  margin-left: 17px;
  padding-bottom: 24px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-content__inner--top {
    margin-left: 34.7px;
  }
}
@media screen and (min-width: 961px) {
  .p-content__inner--top {
    margin-left: 63px;
    padding-bottom: 47px;
  }
}
.p-content__inner--medium {
  margin-left: 17px;
  margin-right: 73.1px;
  padding: 10px 0 40px 0;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-content__inner--medium {
    margin-left: 34.7px;
    margin-right: 59px;
    padding: 10px 0 45px 0;
  }
}
@media screen and (min-width: 961px) {
  .p-content__inner--medium {
    margin-left: 63px;
    margin-right: 104px;
    padding: 17px 0 60px 0;
  }
}
.p-content__inner--bottom {
  display: grid;
  justify-content: center;
  margin: 0 auto 43.7px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-content__inner--bottom {
    margin: 0 auto 40px;
  }
}
@media screen and (min-width: 961px) {
  .p-content__inner--bottom {
    margin: 0 auto 60px;
  }
}
.p-content__inner--small {
  margin-left: 17px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-content__inner--small {
    margin-left: 34.7px;
  }
}
@media screen and (min-width: 961px) {
  .p-content__inner--small {
    margin-left: 63px;
  }
}
.p-content__box {
  position: relative;
  width: 100%;
  padding-top: 34.8115%;
}
.p-content__box--inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.p-group {
  display: flex;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-group {
    flex-direction: column;
  }
}
@media screen and (min-width: 961px) {
  .p-group {
    flex-direction: column;
  }
}

.p-home {
  position: relative;
  width: 100%;
  height: 285px;
}
@media screen and (min-width: 961px) {
  .p-home {
    height: 530px;
  }
}
.p-home__mainvisual {
  background-size: cover;
}
@media screen and (max-width: 428px) {
  .p-home__mainvisual {
    background-image: url("../img/mainvisual-smart.jpg");
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-home__mainvisual {
    background-image: url("../img/mainvisual-sp.jpg");
    background-position: center;
  }
}
@media screen and (min-width: 961px) {
  .p-home__mainvisual {
    background-image: url("../img/mainvisual-sp.jpg");
    background-position: center;
  }
}
@media screen and (max-width: 428px) {
  .p-home__mainvisual--archive {
    background-image: url("../img/page-title_arcive.jpg");
  }
}
.p-home__title {
  position: absolute;
  top: 119px;
}
@media screen and (max-width: 428px) {
  .p-home__title {
    left: 25px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-home__title {
    left: 86px;
  }
}
@media screen and (min-width: 961px) {
  .p-home__title {
    top: 231px;
    left: 86px;
  }
}

.p-note {
  padding: 30px 16px 30px 20px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-note {
    padding: 50px 56px 60px 50px;
  }
}
@media screen and (min-width: 961px) {
  .p-note {
    padding: 50px 60px 50px 50px;
  }
}
.p-note__inner {
  padding-top: 60px;
}
@media screen and (max-width: 428px) {
  .p-note__inner {
    padding-top: 30px;
  }
}

.p-pagination {
  margin-top: 60.9px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-pagination {
    margin-top: 105.5px;
  }
}
.p-pagination__inner {
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 428px) {
  .p-pagination__inner {
    justify-content: space-between;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-pagination__inner--text {
    display: none;
  }
}
@media screen and (min-width: 961px) {
  .p-pagination__inner--text {
    display: none;
  }
}
.p-pagination__inner--left {
  margin-right: 19.3px;
}
@media screen and (max-width: 428px) {
  .p-pagination__inner--left {
    display: none;
  }
}
.p-pagination__inner--center {
  display: flex;
  margin: 0 17.2px;
  gap: 15px;
}
@media screen and (max-width: 428px) {
  .p-pagination__inner--center {
    display: none;
  }
}

.p-product {
  margin-top: 60px;
  max-width: 100%;
}
@media screen and (max-width: 428px) {
  .p-product {
    margin-top: 30px;
  }
}
.p-product__another {
  margin-top: 59px;
}
@media screen and (max-width: 428px) {
  .p-product__another {
    margin-top: 30px;
  }
}
.p-product__large {
  margin-top: 36px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-product__large {
    margin-top: 75px;
  }
}
@media screen and (min-width: 961px) {
  .p-product__large {
    margin-top: 59px;
  }
}
.p-product__medium {
  margin-top: 60px;
}
@media screen and (max-width: 428px) {
  .p-product__medium {
    margin-top: 34px;
  }
}
.p-product__small {
  margin-top: 59px;
}
@media screen and (max-width: 428px) {
  .p-product__small {
    margin-top: 29px;
  }
}
.p-product__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-product__inner--bottom {
  margin-bottom: 20px;
}
.p-product__inner--list {
  margin-top: 20px;
  padding-left: 18px;
}
.p-product__inner--list-sub {
  margin-top: 20px;
}
.p-product__inner--text {
  width: 54.2%;
}
@media screen and (min-width: 961px) {
  .p-product__inner--text {
    width: 54.18%;
  }
}
.p-product__tag {
  padding: 50px 59px 50px 50px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-product__tag {
    padding: 50px 69px 50px 50px;
  }
}
@media screen and (min-width: 961px) {
  .p-product__tag {
    padding: 50px 60px 50px 50px;
  }
}
.p-product__tag--overlay {
  font-family: "M+ 1m";
}
.p-product__unit {
  display: flex;
  justify-content: space-between;
}
.p-product__unit--second {
  margin-top: 30px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-product__unit--second {
    margin-top: 117px;
  }
}
.p-product__img {
  margin-top: 30px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-product__img {
    margin-top: 61px;
  }
}
@media screen and (min-width: 961px) {
  .p-product__img {
    margin-top: 60px;
  }
}

.p-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 961px) {
  .p-search-box {
    justify-content: flex-end;
    max-width: 545px;
    width: 100%;
  }
}
.p-search-box__inner {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 428px) {
  .p-search-box__inner {
    margin-right: 12px;
    min-width: 230px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .p-search-box__inner {
    margin-right: 14px;
    max-width: 378px;
    width: 100%;
  }
}
@media screen and (min-width: 961px) {
  .p-search-box__inner {
    margin-right: 13px;
    max-width: 378px;
    width: 100%;
  }
}
.p-search-box__inner--icon {
  z-index: 600;
  position: absolute;
  top: 11px;
  left: 12px;
}
@media screen and (max-width: 428px) {
  .p-search-box__inner--icon {
    left: 16px;
  }
}
.p-search-box__inner--text {
  width: 100%;
  height: 46px;
  padding-left: 16px;
  box-sizing: border-box;
}

.u-align {
  text-align: center;
}

@media screen and (max-width: 428px) {
  .u-display {
    width: 428px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-display {
    width: 960px;
  }
}
@media screen and (min-width: 961px) {
  .u-display {
    width: 100%;
  }
}
.u-display__flex {
  display: flex;
}
@media screen and (min-width: 961px) {
  .u-display__flex--center {
    flex: 1;
  }
}
@media screen and (min-width: 961px) {
  .u-display__flex--right {
    flex: 2;
  }
}
@media screen and (max-width: 428px) {
  .u-display__column {
    flex-direction: column;
  }
}
.u-display__reverse {
  flex-direction: row-reverse;
}
.u-display__center {
  display: flex;
  justify-content: center;
}
.u-display__wrap {
  flex-wrap: wrap;
}

.u-font--bold {
  font-weight: bold;
}
.u-font--roboto {
  font-family: "Roboto";
}
.u-font--normal {
  font-weight: normal;
}

@media screen and (max-width: 428px) {
  .u-gap {
    gap: 20px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-gap {
    gap: 41px;
  }
}
@media screen and (min-width: 961px) {
  .u-gap {
    gap: 80px;
  }
}
@media screen and (max-width: 428px) {
  .u-gap--sub {
    gap: 20.9px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-gap--sub {
    gap: 20.5px;
  }
}
@media screen and (min-width: 961px) {
  .u-gap--sub {
    gap: 30px;
  }
}

@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-margin {
    margin-top: 241px;
  }
}
.u-margin--left {
  margin-left: 10px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-margin--left {
    margin-left: 21px;
  }
}
.u-margin--right {
  margin-right: 10px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-margin--right {
    margin-right: 21px;
  }
}
.u-margin--top {
  margin-top: 60px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-margin--top-sub {
    margin-top: 117px;
  }
}
@media screen and (min-width: 961px) {
  .u-margin--table {
    margin-top: 50px;
  }
}

.u-padding {
  padding-left: 50px;
}
@media screen and (max-width: 428px) {
  .u-padding {
    padding-left: 0px;
  }
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-padding--left {
    padding-left: 1px;
  }
}
.u-padding--bottom {
  padding-bottom: 177px;
}
@media screen and (min-width: 429px) and (max-width: 960px) {
  .u-padding--bottom {
    padding-bottom: 227px;
  }
}
@media screen and (min-width: 961px) {
  .u-padding--bottom {
    padding-bottom: 353px;
  }
}

.u-position {
  position: relative;
}
.u-position-sub {
  position: relative;
  z-index: 800;
}

.u-text__link {
  color: #4A6C9B;
  text-decoration: underline;
}
.u-text__bold {
  font-weight: bold;
}

/** 
* Foundation
* ========================== */
/** 
* layout
* ========================== */
/** 
* Object
* ========================== */
/* Component ------------ */
/* Project ------------ */
/* Utility ------------ */
/*# sourceMappingURL=style.css.map */